- if albums && albums.length > 0
  %table
    - albums.each do |album|
      %tr.result{ 'data-artist' => album.artist.name, 'data-album' => album.name }
        %td= "&nbsp;~&nbsp;"
        %td
          %a.top_album{href:'javascript:'}= album.name
- else
  %br
  %i= "&nbsp;&nbsp;No albums found."