- if artists && artists.count > 0
  %table
    - artists.each do |artist|
      %tr.result{ 'data-artist' => artist.name }
        %td= "~&nbsp;"
        %td
          %a.artist_result{href:'javascript:'}= artist.name
- else
  %br
  %i= "No artists found."