- if artists.length > 0
  %table
    - artists.each do |artist|
      %tr.result{ 'data-artist' => artist.name }
        %td= "&nbsp;~&nbsp;"
        %td
          %a.similar_artist{href:'javascript:'}= artist.name
- else
  %br
  %i= "&nbsp;&nbsp;No albums found."