$grey:  rgba(48,   48,  48, 1) // #303030
$white: rgba(254, 254, 254, 1) // #FEFEFE
$pink:  rgba(240,  36, 117, 1) // #F02475
$white_50: rgba(254, 254, 254, 0.5)

$rows: 37
$font_size: 15px
$width: 1080px
$row_height: $font_size+2 
$height: $row_height*$rows


body
  background-color: $grey
  font-family: monospace
  font-size: $font_size
  color: $white
  margin: 0
  a
    color: $white
    text-decoration: none
    &:hover
      color: $pink

table, th, tr, td
  border: none
  font-size: $font_size
  line-height: $font_size
  line-spacing: 20px
  border-spacing: 0
  vertical-align: top

form
  margin-bottom: 0
  input
    padding: 0
    border: none

.hidden
  display: none

.header
  border-bottom: 1px $white_50 solid
  margin: 0 $font_size*2

.inner
  height: $height
  width: $width
  position: absolute
  left: 50%
  margin-left: -$width/2

.borders
  position: absolute
  z-index: -1

.results
  margin-top: $row_height
  .content
    height: 10*$row_height
    overflow-y: auto

.top_albums, .similar_artists
  margin-top: $row_height
  .content
    height: 16*$row_height
    overflow-y: auto

.tracks
  margin-top: $row_height
  .content
    height: 34*$row_height
    overflow-y: auto
  .track_len
    font-size: ($font_size - 2)
    display: inline
    color: $white_50

.left
  float: left
  width: $width/3
  height: $height
.middle
  float: left
  width: $width/3
  height: $height
.right
  float: left
  width: $width/3
  height: $height

.loading
  background: url(/img/loading.gif) center no-repeat

.banner
  background: url(/img/banner.png) center no-repeat
  position: absolute
  top: 10px
  left: 110px
  width: 478px
  height: 67px

::-webkit-scrollbar
  width: 2px
  height: 2px
::-webkit-scrollbar-thumb
  background: $white_50
