- if albums && albums.length > 0
  %table
    - albums.each do |album|
      %tr.result{ 'data-artist' => album.artist, 'data-album' => album.name }
        %td= "~&nbsp;"
        %td
          %a.album_result{href:'javascript:'}= album.name
- else
  %br
  %i= "No albums found."