- if tracks && tracks.count > 0
  %table
    - tracks.each do |track|
      %tr.result{ 'data-artist' => track.artist, 'data-album' => track.album, 'data-track' => track.name }
        %td= "~&nbsp;"
        %td
          %a.track_result{href:'javascript:'}= track.name
- else
  %br
  %i= "No tracks found."