%html
  %head
    %title Tchotchke
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/tchotchke.css"}
    %script{:type => 'text/javascript',  :src => 'js/jquery.js'}

    :javascript
      $.ajax({
        url: "/load",
        cache: false,
        success: function(html){
          $("#async").append(html);
        }
      });

  %body
    %p
      ="The time is now #{Time.now}"
    #async