- lines = 32

%html
  %head
    %title Tchotchke
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/tchotchke.css"}
    %script{:type => 'text/javascript',  :src => 'js/jquery.js'}

    :javascript
      $.ajax({
        url: "/load",
        cache: false,
        success: function(html){
          $("#async .loading").replaceWith(html);
        }
      });

  %body
    .inner
      .borders
        .left
          - lines.times do
            &nbsp;<br>
        .middle.loading
          - lines.times do
            |<br>
        .right
          - lines.times do
            |<br>

      .content
        .left
          ="| Left"
        .middle
          ="| Middle"
        .right
          ="| Right"